# ============================
# NEXT.JS / NODE
# ============================

# Dependencies
node_modules/

# Build output
.next/
out/

# Next.js cache
.next/cache/
*.tsbuildinfo

# Env files
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
